form.schoolForm {
	font-size: 10px;
}

form.schoolForm div.FormSection {
	margin: 12px;
}

form.schoolForm .listTable td, form.schoolForm .listTable th {
	font-size: 10px;
	empty-cells: show;
}

form.schoolForm .listTable tbody tr td {
	padding: 3px;
}

form.schoolForm .listTable thead tr th {
	text-align: left;
	padding: 3px;
	font-weight: bold;
	color: #595A54;
	border-top: 1px solid #D7D7D7;
	border-bottom: 1px solid #D7D7D7;
}

form.schoolForm .listTable thead tr th.firstColumn, form.schoolForm .listTable tbody tr td.firstColumn {
	padding-left: 12px;
}

form.schoolForm .listTable thead tr th.lastColumn, form.schoolForm .listTable tbody tr td.lastColumn {
	padding-right: 12px;
}

form.schoolForm .listTable .listTable_oddRow {
	background-color: #EFEFEF;	
}

form.schoolForm .listTable .listTable_evenRow {
	background-color: #FFFFFF;	
}

div.FormElement {
	clear:left;
	height: auto;
}

div.FormElement label {
	width: 120px;
	float:left;
}

form.schoolForm input, form.schoolForm textarea, form.schoolForm select {
	margin: 0;
	font-size: 10px;
}

div.FormElement input, div.FormElement textarea, div.FormElement select {
	margin-bottom: 6px;
	font-size: 9px;
	border: 1px #CCCCCC solid;
}

div.FormElement iframe {
	border: 0;
	margin: 0;
}

div.FormElement textarea {
	width: 300px;
	height: 50px;
}

form.schoolForm .InterfaceButton {
	font-size: 9px;
	border: 1px #CCCCCC solid;
	margin-left: 12px;
	margin-right: -11px;
}

form.schoolForm ul {
	list-style-type: none;
	margin: 0 0 0 12px;
	padding: 0;
}

form.schoolForm ul li {
	margin-bottom: 6px;
}

form.schoolForm ul ul {
	margin-top: 6px;
	margin-left: 36px;
}

ul.schoolList {
	margin: 0 0 0 12px;
	padding: 0;
}

ul.schoolList li {
	font-size:10px;
	font-weight:bold;
	line-height:15px;
	font-family:Arial,Helvetica,sans-serif;
	color:#444444;
}

ul.schoolList li a {
	text-decoration:underline;
}

ul.schoolList li a:hover {
	color:#b4bcb1;
	text-decoration:underline;
}

ul.schoolList li a:visited {
	color:#444444;
	text-decoration:underline;
}

body.school div.ws_main div.wf_block {
	position: absolute;
	margin: 0;
	top: 4px;
	bottom: 4px;
	left: 4px;
	right: 4px;
}

body.school div.ws_main div.wf_block .wf_blockmainarea {
	position: absolute;
	top: 23px;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: auto;
}